* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}
div.img {
  size: 30px;
}

.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: red;
  size: 10rem;
  color: white;
  margin-left: 1em;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
